*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

.container{
    width: 1233px;
    margin: 0 auto;
    padding: 0 20px;
}





/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 49px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
}
.header__links {
    display: flex;
    gap: 55px;
}
.header__links a{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #666666;
}
.header__icons {
    display: flex;
    gap: 20px;
}

/* Hero section */
.hero {
    padding-top: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__text-wrap h2{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left; 
    color: #42446E; 
}
.hero__text-wrap h2 span{
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero__img-wrap {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 9px;
    background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);
}
.hero__img-wrap img{
    width: 349px;
    height: 349px;
    border-radius: 50%;
}

/* Stack */

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 340px;
}
.stack h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #42446E;    
}
.stack p {
    margin-top: 49px;
    margin-bottom: 140px;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #666666;
}
.stack__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 103px;
}

/* Projects */

.project {
    padding-top: 200px;
    padding-bottom: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project__head {
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #42446E;
}
.project__text {
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #666666;
    margin-top: 49px;
    margin-bottom: 96px;
}
.project__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
}
.project__item {
    width: 375px;
    border-radius: 20px;
    box-shadow: 2px 2px 100px 0px #00000033;
}
.project__item-text {
    padding: 27px 28px;
}
.project__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project__links a{ 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-decoration: underline;
}
.project__item-text h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    color: #000000;
}
.project__item-text p{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: #666666;
    margin-top: 17px;
    margin-bottom: 12px;
}
.project__item-text span{
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    color: #42446E;
    margin-bottom: 24px;
}
.project__item-text span span{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}


/* Footer */


.footer {
    padding-bottom: 59px;
}
.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 42px;
}
.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}
.footer__nav a{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #42446E;
}
.footer_bottom {
    margin-top: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
.footer__nav1 a{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #42446E;
}
.footer__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #15143966;
}
.footer__text span {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}